<header>
    {% load static %}
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'img/icon/logobaru.png' %}" alt="Modul Lidi Logo">
                <!-- <span>Modul Lidi</span> -->
            </a>
            <button class="navbar-toggler" type="button" onclick="myFunction2()" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="{% static 'img/icon/icons8-four-squares.png' %}" id="IDImage">
                <img src="{% static 'img/icon/icons8-four-squares1.png' %}" id="IDImage2">
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link {{navlink1}}" href="{% url 'home' %}">Beranda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{navlink2}}" href="{% url 'generator' %}">Generator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{navlink3}}" href="{% url 'list1' %}">Motif</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{navlink4}}" href="{% url 'pewarnaan' %}">Pewarnaan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{navlink5}}" href="{% url 'help' %}">Bantuan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-logout" id="Logout" href="{% url 'logout' %}">
                            <img class="animated-gif" src="{% static 'img/icon/icons8-logout-rounded-64.png' %}" alt="Keluar">
                            Keluar
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script>
        function myFunction2() {
            var y = document.getElementById("IDImage2");
            var x = document.getElementById("IDImage");
            if (y.style.display === "block") {
                x.style.display = "block";
                y.style.display = "none";
            } else {
                x.style.display = "none";
                y.style.display = "block";
            }
        }
    </script>
</header>
<img class="crop" src="{% static 'img/hero1.png' %}" draggable="false">